.login-box {
    max-width: 50vw;
    min-width: 20vw;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    }
    /* textbox */
    .textbox {
        margin-bottom: .25vh;
    }
    .textbox label {
    display: block;
    margin-bottom: 5px;
    }
    .textbox input {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }
/* checkbox */
    .checkbox {
        margin-bottom: 20px;
    }

/* button */
    .button {
        text-align: center;
    }
    .button button {
        padding: 10px 20px;
        background: #333;
        color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }
    .button button:hover {
    background: #555;
    }

/* radiobuttons */
    .radio-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .radio-option {
        display: flex;
        align-items: center;
        background-color: #dddddd; /* Grey for non-selected state */
        border-radius: 4px;
        margin-right: .5vw;
        transition: background-color 0.2s;
    }
    .radio-option input[type="radio"] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 0;
        height: 0;
        margin: 0;
        opacity: 0;
    }
    .radio-option:hover {
        cursor: pointer;
        background-color: #90cbee; /* Light blue on hover */
    }
    .radio-option:active {
        background-color: #aaaaaa;
    }
    .radio-option label { /* Make the label take up the full space */
        display: block;
        width: 100%;
        padding: 4px 8px;
        cursor: pointer;
    }
    .radio-option label:last-child {
        margin-right: 0;
    }
    .radio-option input {
        margin-right: 5px;
    }
    .radio-option input:checked + label {
        color: white;
    }
    .radio-option:has(input:checked) {
        background-color: #0066ff; /* Blue background when selected */
    }
    