html{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #333;
    line-height: 1.5;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container{
    position: relative;
    display: flex;
    align-items: flex-start;
    height: 4vh;
    align-content: flex-start;
    flex-direction: row;
    justify-content: flex-end;
}
.flex-nav{
    display: inline-flex;
    margin: 1vh;
    padding: auto;
    color: #000000;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.flex-expand-vertical{
    flex: 1;
}
.flex-nav-Column{
    display: none;
    align-items: center;
    /*background-color: #333;*/
    color: #000000;
}
.flex-nav:hover .flex-nav-Column {
    display: flow-root;
    justify-content:center;

}

