html{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #333;
    line-height: 1.5;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container{
    display:inline-table;
    justify-content: center;
    align-items: center;
    height: 5vh;
}
.flex-nav{
    display:inline-table;
    justify-content: space-between;
    align-items: center;
    margin: 1vh;
    padding: auto;
    /*background-color: #333;*/
    color: #000000;
}
.flex-expand-vertical{
    flex: 1;
}
.flex-nav-account{
    display: none;
    align-items: center;
    /*background-color: #333;*/
    color: #000000;
}
.flex-nav:hover .flex-nav-account {
    display: flow-root;
}

